@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}

<ol>
    <li>
        <a href='@Url.Content("~/AjaxComponent/Index")'>Uso de Ajax</a>
    </li>
    <li>
        <a href='@Url.Content("~/ComboComponent/Index")'>Uso de Combo</a>
    </li>
    <li>
        <a href='@Url.Content("~/GridComponent/Index")'>Uso de Grilla</a>
    </li>
    <li>
        <a href='@Url.Content("~/PatternState/Index")'>Ejemplo patrón estado</a>
    </li>
    <li>
        <a href='@Url.Content("~/Composite/Index")'>Ejemplo patrón composite</a>
    </li>
</ol>
